html {
  background-color: #000;
  padding: 5%;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.App {
  background-color: #000;
  color: rgb(148, 148, 148);
}

.let-there-be-dark {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  color: #fff !important;
}

.darker-input {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: rgb(172, 172, 172) !important;
  font-family: zoombieland !important;
}

.all-borders {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 3%;
}

a {
  color: rgb(100, 0, 0) !important;
  text-decoration: none !important;
  padding: 1px 15px !important;
}

a:hover {
  color: rgb(187, 0, 0) !important;
}
